<!DOCTYPE html>
<html>
<head>
  <title>Banco de talentos</title>
  <meta charset="UTF-8">
  <script src="Banco de talentos.js" ></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="script.js"></script>
</head>
<body class="container-fluid">
  <h2 class="h2">O que é o Banco de Talentos? </h2>
  <pre>É uma iniciativa do setor de Ação
   Comunitária e Pastoral do Unilasalle-RJ que visa criar uma ponte entre
   os moradores da região, ajudando-os a se reinserir no mercado de trabalho,
   e os comerciantes facilitando o processo de seleção de novos colaboradores.
   Para se inscrever basta preencher os dados abaixo e entregar na Ação comunitária.</pre>
  <form method="POST" action="banco_talentos.php" ng-app="">
    <div class="row">
      <div class="col-md-6 shadow-sm">
        <h3 class="h3">Informações Pessoais</h3><hr>
        <div class="form-group">
          <label for="nome">Nome:*</label>
          <input type="text" class="form-control" id="nome" placeholder="Nome Completo" required name="nome" size=40 />
          <!-- onkeypress="return somente_letra()" -->
        </div>

        <div class="form-group">
          <label for="email">Email:*</label>
          <input type="email" class="form-control" id="email" placeholder="Ex: gabriel.silva@gmail.com" required name="email" maxlength=40 />
        </div>
        <div class="form-group">
          <label for="tel1">Telefone 1*:</label>
          <input type="text" name="tel" class="form-control" id="tel1" placeholder="Ex: (11) 9 9999-8888" pattern=".{16}" title="(011) 9 9999-8888" required maxlength=15 onkeypress="return somente_num(this)"/>
        </div>

        <div class="form-group">
          <label for="tel2">Telefone 2:</label>
          <input type="text" name="tel2" class="form-control" id="tel2" placeholder="Ex: (11) 9 9999-8888" pattern=".{16}" title="(011) 9 9999-8888"  maxlength=15 onkeypress="return somente_num(this)"/>
        </div>
      </div>
      <div class="col-md-6 shadow-sm">
        <h3 class="h3">Conhecimentos</h3><hr>

        <p><label class="control-label" for="ensino">Escolaridade:</label>
          <select name="ensino" class="custom-select" id="ensino">
            <option selected>Selecione sua Escolaridade</option>
            <option value="Superior_com">Superior Completo</option>
            <option value="Superior_inc">Superior Incompleto</option>
            <option value="Médio_com">Médio Completo</option>
            <option value="Médio_inc">Médio Incompleto</option>
            <option value="Fundamental_com">Fundamental Completo</option>
            <option value="Fundamental_inc">Fundamental Incompleto</option>
          </select>
        </p>

        <p>Excel:
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="excel_Básico" name="excel" value="Básico" />
            <label class="custom-control-label" for="excel_Básico">Básico</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="excel_Intermediário" name="excel" value="Intermediário" />
            <label class="custom-control-label" for="excel_Intermediário">Intermediário</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="excel_Avançado" name="excel" value="Avançado" />
            <label class="custom-control-label" for="excel_Avançado">Avançado</label>
          </div>
        </p>

        <p>Word:
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="word_Básico" name="word" value="Básico" />
            <label class="custom-control-label" for="word_Básico">Básico</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="word_Intermediário" name="word" value="Intermediário" />
            <label class="custom-control-label" for="word_Intermediário">Intermediário</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="word_Avançado" name="word" value="Avançado" />
            <label class="custom-control-label" for="word_Avançado">Avançado</label>
          </div>
        </p>

        <p>Inglês:
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="ingles_Básico" name="ingles" value="Básico" />
            <label class="custom-control-label" for="ingles_Básico">Básico</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="ingles_Intermediário" name="ingles" value="Intermediário" />
            <label class="custom-control-label" for="ingles_Intermediário">Intermediário</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="ingles_Avançado" name="ingles" value="Avançado" />
            <label class="custom-control-label" for="ingles_Avançado">Avançado</label>
          </div>
        </p>
     </div>
   </div><br>
    <div class="row">
      <div class="col-md-12 shadow-sm">
        <h3 class="h3">Informações adicionais</h3> <hr>
        <p>Horário disponível:
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="Diurno" name="horario" value="Diurno" />
            <label class="custom-control-label" for="Diurno">Diurno</label>
          </div>  
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="Noturno" name="horario" value="Noturno" />
            <label class="custom-control-label" for="Noturno">Noturno</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="Indiferente" name="horario" value="Indiferente" />
            <label class="custom-control-label" for="Indiferente">Indiferente</label>
          </div>
        </p>
      
        <p>Já trabalhou antes ?:  
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="trab_Sim" name="trabalho" value="Sim" ng-model="trab" />
            <label class="custom-control-label" for="trab_Sim">Sim</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="trab_Não" name="trabalho" value="Não" ng-model="trab" />
            <label class="custom-control-label" for="trab_Não">Não</label>
          </div>          
        </p>

        <div ng-switch="trab">
          <div ng-switch-when="Sim">
            <p>Selecione suas experiências anteriores:</p>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="operador" name="operador" />
              <label class="custom-control-label" for="operador">Operador(a) de Caixa</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="aulixiar" name="aulixiar" />
              <label class="custom-control-label" for="aulixiar">Auxiliar de Serviços Gerais</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="vendedor" name="vendedor" />
              <label class="custom-control-label" for="vendedor">Vendedor(a)</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="coordenador" name="coordenador" />
              <label class="custom-control-label" for="coordenador">Coordenador(a)/Gerente de Loja</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="vigia" name="vigia" />
              <label class="custom-control-label" for="vigia">Vigia/Prevenção de perdas</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="estoquista" name="estoquista" />
              <label class="custom-control-label" for="estoquista">Estoquista</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="baba" name="baba" />
              <label class="custom-control-label" for="baba">Babá/Cuidador</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="estimulador" name="estimulador" />
              <label class="custom-control-label" for="estimulador">Estimulador</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="cozinheiro" name="cozinheiro" />
              <label class="custom-control-label" for="cozinheiro">Cozinheiro</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="garçom" name="garçom" />
              <label class="custom-control-label" for="garçom">Garçom/Garçonete</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="atendente" name="atendente" />
              <label class="custom-control-label" for="atendente">Atendente de Telemarketing</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="frentista" name="frentista" />
              <label class="custom-control-label" for="frentista">Frentista</label>
            </div>  
            <div class="form-group form-inline">
              <label for="outra" style="margin-right: 1rem">Outra função? Qual? </label>
              <input type="text" class="form-control" id="outra" />
            </div>
<!--             <input type="text" name='outra' id='outra' onkeypress='return somente_letra()' /> -->
          </div>
          <div ng-switch-when="Não"></div>
        </div>      

        <p>Tem entre 14 e 24 anos e tenha interesse em participar do Programa jovem Aprendiz? 
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="jovem_sim" name="jovem" value="Sim" />
            <label class="custom-control-label" for="jovem_sim">Sim</label>
          </div>   
           <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="jovem_não" name="jovem" value="Não" />
            <label class="custom-control-label" for="jovem_não">Não</label>
          </div>   
        </p>
      </div>
    </div>
    <p><input type="submit" value="Enviar" class="btn btn-primary" /></p>
  </form>

</body>
</html>
