// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Materialize
@import '../../node_modules/materialize-css/sass/materialize.scss';

#loader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba($color: #000000, $alpha: 0.5); /* cor do background que vai ocupar o body */
  z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}

#preloader {
  position: relative;
  top: 40%;
}