// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Materialize
@import '../../node_modules/materialize-css/sass/materialize.scss';

#loader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba($color: #000000, $alpha: 0.5); /* cor do background que vai ocupar o body */
  z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}

#modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#preloader {
  position: relative;
  top: 40%;
}

.toast.sucesso {
  border-radius: 4px;
  top: 35px;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  background-color: #ccffe6;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #008040;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: default;
}

.toast.erro {
  border-radius: 4px;
  top: 35px;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  background-color: #ffb3b3;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #800000;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  cursor: default;
}

.destacado{
  color:#9ea33c;
}

.destacado:hover {
  cursor: pointer;
}

.material-tooltip {
  color: #323232;
  max-width: calc(30%);
  background-color: #f1f2b6;
}



.cartao_footer {
  background-color: #a0dbca !important;
  color: #fff;
}

.card a{
  color:#000;
}

.botao {
  background-color: #a0dbca;
  color: #fff !important;
  -webkit-transition: color 0.5s ease !important;
  transition: color 0.5s ease !important;
  text-transform: uppercase;
  border: none;
}

.botao:hover {
  cursor: pointer;
  color: #a8adb3 !important;
}

.botao:focus {
  background-color: #a0dbca;
}

.nav-wrapper {
  background-color: #43947f !important;
}

nav a {
  color: #fff !important;
}

body{
  background-color: #f2f5f4;
}

#navbarDropdown{
  background-color: #43947f;
}

#navbarDropdown2{
  background-color: #43947f;
}

.dropdown-content li a{
  background-color: #fff;
  color: #43947f !important;
}

.dropdown-content li a:hover {
  background-color: #43947f;
  color: #fff !important;
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 15px 10px;
  height: 56px;
  width: 100%;
  text-align: left;
}

.pagination li {
  text-align: center;
  vertical-align: top;
  height: 30px;
  font-size: 20px;
  color: #595854;
  padding: 0 10px;
  position: relative;
}

.pagination li a {
  line-height: 20px;
  color: #595854;
  font-size: 20px;
  padding: 2px;
}

.pagination li.disabled a {
  cursor: pointer;
}

.pagination li.ativo a:hover {
  color: #43947f !important;
}

.pagination li.active {
  background-color: #43947f;
  color: #fff;
}

.tabs .tab a {
  color: #43947f;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: rgba(146, 240, 177, 0.2);
  outline: none;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: transparent;
  color: #43947f;
}

.tabs .indicator{
  background-color: #6dad72;
}

span.badge.new {
  background-color: #67dbbc;
}

span.badge.new:after {
  content: " Novidade";
}

span.badge.new.dark {
  background-color: #26a69a;
}

.dropdown-content li a:hover span.badge.new.dark{
  background-color: #67dbbc;
}

.filtro{
  position: absolute;
  z-index: 2;
  background-color: #f2f5f4;
  width: 100%;
  height: 80%;
  display: none;
}

nav img {
  height: 45px;
  width: 170px;
  object-fit: cover;
  z-index: 1;
}

.home{
  height: 65px;
  width: 170px;
  position: relative;
  z-index: 2;
  bottom: 190px;
}

.logo {
  position: relative;
  top: 10px;
}

.logout {
  height: 9px;
}

.cand_header{
  background-color: #e3e1da!important;
}

#desc{
  font-family: old standard TT;
}

.exp{
  text-decoration: underline;
  color: #526acc;
}

.exp:hover{
  color: #162a7a;
}

.pass:hover {
  color: #418c73;
}

.sidenav {
  background-color: #43947f;
}

.sidenav a{
  color: #fff !important;
}

.sidenav li a:hover{
  background-color: #d4fcf2 !important;
  color: #43947f !important;
}